body{
    background: black;
    display: grid;
    justify-content: center;
    text-align: center;
}
h1{
    color: greenyellow;
    text-align: center;
}
p{
    color: teal;
    font-weight: bolder;
}
.estrella{
    font-size: 100px;
}
#arbol{
    color: red;
}