body{
    background: black;
    display: grid;
    justify-content: center;
    text-align: center;
}
h1{
    color: greenyellow;
    text-align: center;
}
p{
    color: teal;
    font-weight: bolder;
}
.estrella{
    font-size: 100px;
    animation: colores 1s infinite;
}
#arbol{
    
}
.rojo{
    color: red;
    transition: all 1.5s;
    font-size: 26px;
}
@keyframes colores {
    0%{color: red;}
    33%{color: green;}
    66%{color: red;}
    100%{color: yellow;}
}